.root {
	@apply relative py-20 lg:py-32;
	@apply overflow-hidden;
}
.Container {
	@apply container;
}

.title {
	@apply text-title;
	@apply font-display text-xl font-bold;
	@apply lg:max-w-[39.5833333333vw];
	@screen lg {
		font-size: 4.1666666667vw;
		margin-bottom: 4.1666666667vw;
		line-height: 1;
	}
}

.slider {
	@apply !overflow-visible;
	@screen lg {
		@apply !overflow-hidden;
	}
}

.slide {
	@apply h-auto;
}
