.root {
	@apply fixed left-0 top-0 z-30 w-full;
	@apply transform transition-all duration-500;
	@apply p-[1.7361111111dvw];
}

.root.hidden {
	@apply -translate-y-[200%];
}

.root.scrolled {
	@apply bg-white;
}

.Container {
	/* @apply shadow-xl; */
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	@apply rounded-lg bg-white;
	@apply px-4 py-4 lg:px-8;
	@apply flex flex-row items-center justify-between;
	@screen lg {
		padding: 1.0833333333vw;
	}
}

.logoContainer {
	@apply inline-flex w-full justify-center;
}

.logo {
	@apply h-10 w-auto text-rouge;
	@screen lg {
		height: 3.33339vw;
	}
}

.row {
	@apply flex w-full flex-row items-center gap-x-4;
}

.nav {
	@apply hidden;
	@screen lg {
		@apply flex flex-row;
	}
}

.navItem {
}
.navLink {
	@apply flex items-center;
}
.navLink span {
	@apply font-yekan;
	@apply text-lg font-semibold text-links-color;
}
.navItem:hover .navLink span {
	@apply text-bronze;
}
.arrow {
	@apply mr-1 inline-flex;
}
.arrow svg {
	@apply h-5 w-5 text-bronze;
	@screen lg {
		width: 1.389vw;
		height: 1.389vw;
	}
}
