.root {
	@apply relative overflow-hidden;
	/* @apply bg-jaune; */
	@apply bg-[#58392E];
	@apply pt-28 lg:pt-[16.6666666667vw];
}

.bgContainer {
	@apply z-0;
	@apply absolute left-0 top-0 h-full w-full;
}

.overlay {
	@apply absolute left-0 top-0 h-full w-full;
	@apply bg-black bg-opacity-20;
}

.bgImg {
	@apply h-full w-full object-cover object-center;
	@apply scale-150;
}

.Container {
	@apply flex flex-col;
}

.heading {
	@apply relative;
	@apply text-rouge;
	@apply font-display text-[11vw] font-black;
	@apply whitespace-nowrap;
	@apply text-center;
}
.heading strong {
	position: relative;
	z-index: 1;
}

.lines {
	position: absolute;
	@apply absolute left-0 top-[8vw];
	@apply h-[100dvh] w-full overflow-hidden;
	@apply flex flex-col items-center justify-center;
}

.lines span {
	@apply absolute left-0 top-0;
	@apply w-full;
	@apply opacity-10;
	@apply font-display text-[10vw] font-black;
	@apply transition-all;
	@apply transform;
	line-height: 1;
	transition:
		opacity 640ms cubic-bezier(0.36, 0.33, 0, 1) 420ms,
		color 640ms cubic-bezier(0.36, 0.33, 0, 1) 420ms;
}

.images {
	@apply relative;
}

.smoke .img {
	@apply z-[2];
	@apply absolute w-full max-w-[781px];
	@apply bottom-3/4 left-0 top-0;
	@apply m-auto;
	pointer-events: none;
	mix-blend-mode: screen;
}

.smoke1 .img {
	right: 0;
	animation: an-smoke-2 8s ease-in-out infinite;
}
.smoke2 .img {
	right: 15%;
	animation: an-smoke-2 8s ease-in-out infinite;
}

.cup {
	@apply relative z-[3];
}
.cup .img {
	width: 600px;
	overflow: visible;
	margin: 120px auto 0 auto;
	transform: translateX(10%);
	max-width: 60%;
}

.cup .img {
	@apply lg:mt-[18.88888887vw];
}

@keyframes an-smoke-1 {
	0% {
		opacity: 0;

		-webkit-transform: translateY(5%) rotate(0.01deg);
		-moz-transform: translateY(5%) rotate(0.01deg);
		-o-transform: translateY(5%) rotate(0.01deg);
		transform: translateY(5%) rotate(0.01deg);
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;

		-webkit-transform: translateY(0) rotate(0.01deg);
		-moz-transform: translateY(0) rotate(0.01deg);
		-o-transform: translateY(0) rotate(0.01deg);
		transform: translateY(0) rotate(0.01deg);
	}
}

@keyframes an-smoke-2 {
	0% {
		opacity: 0;

		-webkit-transform: translate(8%, 10%) rotate(0.01deg);
		-moz-transform: translate(8%, 10%) rotate(0.01deg);
		-o-transform: translate(8%, 10%) rotate(0.01deg);
		transform: translate(8%, 10%) rotate(0.01deg);
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;

		-webkit-transform: translateY(5%) rotate(0.01deg);
		-moz-transform: translateY(5%) rotate(0.01deg);
		-o-transform: translateY(5%) rotate(0.01deg);
		transform: translateY(5%) rotate(0.01deg);
	}
}
