.root {
	@apply relative overflow-hidden py-12 lg:py-32;
	@apply bg-beige-l;
}

.Container {
	@apply container;
	@apply flex flex-col;
}

.heading {
	@apply flex flex-col lg:flex-row lg:items-start lg:justify-between;
	@apply mb-10 lg:mb-[4.1666666667dvw];
	@apply gap-y-5;
}

.slider {
	@apply !overflow-visible;
	@screen lg {
		@apply !overflow-hidden;
	}
}

.title {
	@apply w-full lg:max-w-[43.75dvw];
	@apply font-display text-5xl lg:text-[4.2dvw];
	@apply text-title;
	line-height: 1;
}

.subtitle {
	@apply w-full lg:max-w-[41.6666666667dvw];
	@apply text-lg font-semibold lg:text-[1.2dvw];
	@apply text-text-color;
	line-height: 1.6;
}

.sliderContainer {
	@apply relative;
}

.product {
	@apply h-full;
}

.loading {
	& .title {
		@apply w-full !max-w-xs;
		height: 3rem;
		@screen lg {
			height: 4.2dvw;
		}
		@apply animate-pulse bg-grey/40;
		@apply pt-[100%];
	}
	& .product {
		@apply animate-pulse bg-grey/40;
		@apply pt-[100%];
	}
}
