/* Webfont: GoftehWeb-Heavy */
@font-face {
	font-family: gh;
	src:
		url("./GoftehWeb-Heavy.woff") format("woff"),
		url("./GoftehWeb-Heavy.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
